.navbar {
    border-bottom: 1px solid #bababa;
    padding: 20px 4vw;
}

.navbar a {
    text-decoration: none;
}

.logo h2 {
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
}

.logo h2 span {
    color: orangered;
    font-weight: 600;
}
